body {
    background-color: #C8AEBD;
}

.header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 170px;
    -webkit-text-fill-color: #F5F5F5; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: #F5F5F5;
}

.header2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 170px;
    -webkit-text-fill-color: #82215B; 
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: #82215B;
    margin-left: 10px;
    margin-top: -195px;
}

.box {
    font-family: 'Sedgwick Ave Display', cursive;
   
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #593A4D;
    justify-content: space-around;
    margin-left: 60%;
    align-items: center; 
    width: 700px;
    margin-top: -120px;
   
  }
  
  .flex-container > div {
    background-color: #593A4D;
    color: #F5F5F5;
    margin: 15px;
    font-size: 41px;
    font-family: 'Sedgwick Ave Display', cursive;
    flex-direction: row;

  }
/* unvisited link */
a:link {
    color: inherit;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #C8AEBD;
  }
  
  /* selected link */
  a:active {
    color: inherit;
    text-decoration: none;
  }
  

  .text1 {
    font-family: 'Sedgwick Ave Display', cursive;
    color: #F5F5F5;
    margin-top: 20px;
    margin-left: 28px;
    font-size: 41px;
  }

  .text3 {
    font-size: 130px; 
    font-family: 'Koulen', cursive;
    color: #82215B;
    margin-left: 70%;
    flex-wrap: nowrap;
    margin-top: 100px;

  }
  .text2 {
    margin-left: 70%;
    font-family: 'Birthstone Bounce', cursive;
    -webkit-text-fill-color: #f5f5f5; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: #f5f5f5;
    font-size: 130px; 
    margin-top: 181px;
    position: absolute;
  }
 
  .paragraph {
    font-family: 'Assistant', sans-serif;
    font-size: 21px; 
    letter-spacing: -5.5%;
    color: #f5f5f5;
    margin-top: 20px;
    margin-left: 70%;
  }

img{
    border-radius: 50%;
}

.image1 {
    margin-top: -350px;
margin-left: 4%;
position: absolute;
}
.image2 {
    margin-top: -720px;
margin-left: 15%;
}

.image3 {
    margin-top: -650px;
margin-left: 18%;
}
.image4 {
    margin-top: 310px;
margin-left: 45%;
}

.album1 {
    background-image: url("doja.jpg");
    background-size:371px 209px;
    align-items: center;
    width: 371px;
    height: 209px;
}
.album2 {
    background-image: url("ari.jpg");
    background-size:371px 209px;
    align-items: center;
    width: 371px;
    height: 209px;
}

.album3 {
    background-image: url("lana.jpg");
    background-size:375px 371px;
    align-items: center;
    width: 371px;
    height: 209px;
}

.photobox {
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
flex-direction: row;
}

.headerbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row; 
    margin-top: 110px; 
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px; 
    color: #82215B;
}

.textbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row; 
    font-family: 'Assistant', sans-serif;
    font-size: 20px; 
    color: #f5f5f5;
    margin-bottom: 100px;
}